// ui/scss/_variables.scss
:root {
    --bg-color: #f8f9fa;
    --text-color: #212529;
    --primary-color: #005a9e;
    --primary-color-hover: #003d6b;
    --surface-color: #ffffff;
    --border-color: #dee2e6;
    --header-bg-color: #e9ecef;
    --success-bg-color: #dff0d8;
}

body.dark-mode {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --primary-color: #3e9cff;
    --primary-color-hover: #6ab7ff;
    --surface-color: #1e1e1e;
    --border-color: #444444;
    --header-bg-color: #2c2c2c;
    --success-bg-color: #2a3d28;
}
