.tabs-container {
  margin-top: 2em;
}

.tabs-nav {
  display: flex;
  border-bottom: 2px solid var(--border-color);
  // height: 68px;

  // AJOUTS POUR LE RESPONSIVE :
  overflow-x: auto; // Ajoute une barre de défilement horizontal si nécessaire
  overflow-y: hidden;
  white-space: nowrap; // Empêche les onglets de passer à la ligne

  // Bonus : Amélioration visuelle de la barre de défilement pour les navigateurs WebKit (Chrome, Safari, Electron)
  &::-webkit-scrollbar {
    height: 4px; // Une barre de défilement très fine
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--border-color);
    border-radius: 4px;
  }

  button.active {
    border-bottom: 6px solid currentColor;
  }
}

.tab-link {
  padding: 0.8em 1.2em;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1em;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;

  &.active {
    font-weight: bold;
    color: var(--primary-color);
    border-bottom-color: var(--primary-color);
  }
  &:hover:not(.active) {
    background-color: var(--header-bg-color);
  }
}

.tab-pane {
  display: none;
  padding: 2em 0;
  &.active {
    display: block;
  }
}

.guide-section {
  margin-top: 2.5em; // Ajoute un espacement clair au-dessus des guides
}
